---
layout: default
---

{% for post in paginator.posts %}
<section>
  <h2><a href="{{ post.url }}">{{ post.title }}</a><small>written by {{ post.author | default: '匿名' }} @{{ post.date | date: "%B %-d, %Y" | default: '某天' }}</small></h2>
  <p>{{ post.content | strip_html | truncate:200 }}</p>
</section>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}